projects/opentaal/key.txt
.pydevproject
.settings/.jsdtscope
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.vscode/.ropeproject/config.py
*.bak
*.csv
*.tsv
*.png
projects/opentaal/OpenTaal-210G-basis-gekeurd.txt
projects/blends/analyse/template.html.orig
projects/blends/herken1/template.html.orig
